*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* sheard style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    width: bold;
    color: white;
    border:none;
    padding: 18px 35px;
    cursor: pointer;
 
}
/* main style */

.logo{
    font-size: 45px;
    width:900;

}
.logo-color{
    color:#FD6E0A;
}

header{
     padding-top:50px;
     background-color: #FFF8F3;
     background:url("./images/developer.png"),url("./images/header_bg.png"),#FFF8F3;
     background-position:bottom left,bottom right;
     background-repeat: no-repeat;
}
nav{
    width: 60%;
    max-width:1140;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    background-color: #FFF8F3;

}

nav .menu{
   display: flex;
   list-style: none;
   gap:51px;
   align-items: center;
    
}
nav .menu a{
    font-size: 20px;
    color:#474747;
    text-decoration: none;
}
#banner{
   
    margin:46px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    width: 600px;
    color:#474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    width: bolder;
    color:black;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color:#757575;
    margin-bottom: 30px;
    line-height: 30px;
}
#banner .banner-img img{
    max-width: 584px;
    vertical-align: middle;
}