*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* sheard style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    width: bold;
    color: white;
    border:none;
    padding: 18px 35px;
    cursor: pointer;
   
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    color:757575;
    line-height: 30px;
}
/* main style */

.logo{
    font-size: 45px;
    width:900;

}
.logo-color{
    color:#FD6E0A;
}

header{
     padding-top:50px;
     background-color: #FFF8F3;
     background:url("./images/developer.png"),url("./images/header_bg.png"),#FFF8F3;
     background-position:bottom left,bottom right;
     background-repeat: no-repeat;
}
nav{
    width: 60%;
    max-width:1140;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    background-color: #FFF8F3;

}

nav .menu{
   display: flex;
   list-style: none;
   gap:51px;
   align-items: center;
    
}
nav .menu a{
    font-size: 20px;
    color:#474747;
    text-decoration: none;
}
#banner{
   
    margin:46px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    width: 600px;
    color:#474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    width: bolder;
    color:black;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color:#757575;
    margin-bottom: 30px;
    line-height: 30px;
}
#banner .banner-img img{
    max-width: 584px;
    vertical-align: middle;
}
 
/* section-about-me */
#about,#icon-section,#resume #bio-data{
    margin-top: 130px;
}
  
#about .about-container{
      width: 60%;
    max-width:1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding:131px 157px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;

}
 .about-info .info-card p{
    font-size: 20px;
    color:#757575;
    line-height: 30px;

 }
 .about-info .info-card h4{
    font-size: 20px;
    line-height: 30px;
   
 }
 

 #icon-section .icon-heading{
    max-width:1140px;
    width: 60%;
    text-align: center;
    margin:0 auto;
 }
#icon-section .icon-heading h1{
    font-size: 35;
    width:bolder;

}
#icon-section .icon-heading p{
    font-size: 18px;
    line-height:30px;
    color:#757575;
    margin-bottom: 30px;
}
 
#icon-section{
     margin-bottom: 50px;
      
    
}
.icon-container{
    display:flex;
    gap:24px;
    width: 1140px;
    margin:0 auto; 

     
}

#icon-section .icon-container .icon{
  
    padding:30px;
    max-width:1140px;
    border:1px red solid;
    border-radius: 5px;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.023);
}
.icon-container .icon img{
    margin-bottom: 30px;
    max-width: 44px;
    color:#FFFFFF;
    
}


.icon-container .icon h4{
    font-size: 20px;
    width: bold;
    padding-top: 10px;
}
.icon-container .icon p{
    font-size: 16px;
    line-height: 28px;
    color:#757575;
    text-align: center;
}
/* section resume */

#resume .resume-container{
    display: flex;
    max-width: 1140px;
    width: 60%;
    margin:113px auto 0;
    gap:24px;
}
.resume-container .section-title{

   font-size: 30px;
   margin-bottom: 30px;
   color: rgba(0, 0, 0, 0.819);
}
.resume-card .card-title{
    font-size: 25px;
     margin-bottom: 10px;
}
.resume-card .card-info{
    font-size: 20px;
    color:#757575;
    margin-bottom: 10px;
    width: bold;
}
.resume-card .card-text{
    font-size: 16px;
    line-height: 28px;
    color:#757575;
    margin-bottom: 30px;
}
.btm{
     background-color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    width: bold;
    color: white;
    border:none;
    padding: 18px 35px;
    cursor: pointer;
    margin-top:50px;
}
footer{
    margin:170px auto 0;
    background-color:#FFF8F3;
    padding:130px 0px;
}
.bio-data{
    display: flex;
    max-width: 1140px;
    width: 60%;
    margin: 0 auto;
    gap: 116px;

}
.bio-data .socile{
    max-width: 562px;
}
.bio-data .form{
    max-width: 505px;
}
.bio-data .icon a {
    margin-right: 24px;
}
footer h2{
    font-size:30px;
    color: #181818;
    margin-bottom: 20px;
    
}
footer p {
    font-size: 16px;
    line-height: 28px;
    color:#474747;
    margin-bottom: 30px;
}
.bio-data form input[type="text"],.bio-data form  textarea{
    padding:18px 30px;
    width: 461px;
    margin-bottom: 24px;
    border:none;
    border-radius: 5px;
    color:757575;
    line-height: 28px;
}
.bio-data form textarea{
    max-width: 461px;
}

   

    