*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* sheard style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    width: bold;
    color: white;
    border:none;
    padding: 18px 35px;
 
}
/* main style */
.logo{
    font-size: 45px;
    width:900;

}
.logo-color{
    color:#FD6E0A;
}
header{
    background-color: #FFF8F3;
    padding:50px;

}
nav{
    width: 60%;
    max-width:1140;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;

}
nav .menu{
   display: flex;
   list-style: none;
   gap:51px;
   align-items: center;
    
}
nav .menu a{
    font-size: 20px;
    color:#474747;
    text-decoration: none;
}
nav 